body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    background-image: url("assets/fondos/backgraound.webp");
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

@font-face {
    font-family: "d";
    src: url("assets/font/Raleway-VariableFont_wght.ttf");
}


header {
    width: 1060px;
    color: #fff;
    margin: 0 auto;
    margin-top: 1em;
    height: 97px;
}

.nav-web-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
    height: 97px;
}

.nav-web-pc-monterrico {
    width: 22%;
    margin-right: auto;
    /* background-color: #fff;*/
    color: #000;
    gap: 0px;
    padding-top: 0.3em;
    height: 97px;
}

.nav-web-pc-monterrico a {
    text-decoration: none;
    color: #fff;
}

.text1 {
    font-size: 29px;
    font-family: d;
    font-weight: 600;
    margin: 0;
}

.text2 {
    font-size: 13px;
    margin: 2px 0 0 0;
    font-family: d;
}

.lista-nav-movil {
    display: none;
}

.lista-nav2 {
    display: none;
}

.lista-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-right: 15px;
    transition: all 400ms;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background: linear-gradient(to top, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.0));
    height: 97px;
    align-items: center;
    justify-content: end;
    width: 78%;
}

.list {
    transition: all 400ms;
}

.list a {
    text-decoration: none;
    color: #fff;
    font-family: d;
    font-size: 17px;
    font-weight: 400;
    text-shadow: 2px 1.5px 1.8px #efefff;
}

.list:hover {
    transform: scale(1.1);
    transition: all 400ms;
}

.list a:hover {
    color: #aaa;
    text-shadow: 0px 0px 0px #aaa;
    transition: all 400ms;
}



/*contenido del main*/
main {
    width: 100%;
}

.bloque {
    width: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.mostrar-mas {
    display: none;
}

/*bac-sect*/
.back-sect {
    margin-top: 2rem;
    width: 100%;
    background-color: #fff;
}

.bloque-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.subtitle {
    color: #111;
    font-family: d;
    margin-top: 3em;
    font-size: 15px;
}

.title {
    color: #111;
    font-family: d;
    margin-top: 0.5rem;
    font-size: 2.2em;
}


/*imagen de la primera con su texto*/
.description {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 20px;
}

.description-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.image-hotel {
    width: 100%;
    height: 363px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.custom-hr {
    border-color: #fff7;
}

/*listado del description*/
.description-image-aditional {
    margin-top: 1rem;
}

.description-title {
    font-family: d;
    font-size: 17px;
}

.list-description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 0.4em;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.pop {
    flex: 1;
}

.img2 {
    background-image: url("assets/fondos/imagen\ presentativa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 363px;
    transition: all 400ms;
}

.img2:hover {
    background-image: url("assets/fondos/carrusel/suite4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: all 400ms;
}

/*texto de la descripcion*/
.description-text {
    width: 100%;
    padding: 0 30px;
}

.description-text-parraf {
    font-size: 14px;
    margin-top: -1em;
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.M {
    font-size: 30px;
}







/*alojamiento*/
.alojamiento {
    width: 100%;
}

.aloja {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.aloja-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aloja-text p {
    font-family: d;
    font-size: 2.2em;
    color: #fff;
    font-weight: 600;
    text-shadow: 5px 2px 2px rgb(0, 0, 0);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    background-image: url("assets/fondos/carrusel/suite1.jpg");
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;

}

.image:nth-child(1) {
    background-image: url("assets/fondos/carrusel/suite1.jpg");
}

.image:nth-child(2) {
    background-image: url("assets/fondos/carrusel/suite2.jpg");
}

.image:nth-child(3) {
    background-image: url("assets/fondos/carrusel/suite3.jpg");
}

.image:nth-child(4) {
    background-image: url("assets/fondos/carrusel/suite4.jpg");
}

.image:nth-child(5) {
    background-image: url("assets/fondos/carrusel/suite5.jpg");
}

/*aqui detalles */
.name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ver-det {
    margin: 0.4em 0px;
}

.det {
    margin: 0px;
    font-family: d;
}

.detalles p {
    margin: 0;
    font-family: d;
    font-size: 13px;
}

.button-det {
    font-size: 15px;
    font-family: d;
    color: #0af;
}

.camas {
    align-items: center;
    display: flex;
}

.camas span {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.camas ion-icon {
    font-size: 15px;
}

/*termino de detalles continuar*/




.image:hover {
    width: 300px;
    cursor: pointer;
}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #111 0%, #111 10%, transparent);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.image .about {
    color: aliceblue;
    align-items: end;
    padding: 0 20px;
    height: 48%;
    transform: translateX(100%);
    opacity: 0;
    transition: 400ms;
    width: 100%;
}


.image:hover .about {
    transform: translateX(0%);
    opacity: 1;
}


.about .name {
    font-size: 30px;
    color: rgb(230, 249, 108);
    margin: 10px 0;
}

.about .det {
    color: rgb(195, 163, 217);
    margin-bottom: 4px;
}

.about .button {
    font-size: 30px;
}

.about .button ion-icon {
    padding: 0 5px;
}

.about .button ion-icon:nth-child(1) {
    color: rgb(19, 137, 170);
}

.about .button ion-icon:nth-child(2) {
    color: rgb(0, 255, 0);
}



/*ubicacion diseging*/
.bloq-ubi {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limited-ubi {
    width: 1060px;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 4rem 0;
}

.limited-title {
    display: flex;
    align-items: center;
    font-family: d;
    font-size: 2.1rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ubi-div {
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    height: 500px;
}

.ubi-direction {
    padding: 0 20px;
    margin-top: 1rem;
}

.ubi-bloq {
    padding: 0 20px;
}

.hotel-text {
    font-family: d;
    font-size: 1.8rem;
}

.hotel-direction {
    margin-bottom: 0.5rem;
}

.model {
    font-family: d;
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
}

.maps {
    border-radius: 25px;
}

.referencia {
    font-size: 1.3rem;
    font-family: d;
    margin-top: 1.5em;
    font-weight: 600;
}

.referencia-text {
    font-size: 0.9rem;
    font-family: d;
    display: flex;
    flex-direction: column;
}


/*slider*/
.puntuacion-coment {
    display: flex;
    width: 100%;
    padding: 3rem 0;
    background-image: url("assets/fondos/slider/paisaje-de-bosque.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider {
    display: flex;
    justify-content: center;
    width: 1060px;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.img-punt {
    transition: all 600ms ease-in-out;
}

.im1 {
    transform: translateY(28px);
}

.im2 {
    transform: rotate(-15deg);
    transition: all 600ms ease-in-out
}

.im1:hover {
    transform: rotate(-15deg);
    transition: all 600ms ease-in-out;
}

.im2:hover {
    transform: rotate(0deg) translateY(28px);
    transition: all 600ms ease-in-out;
}

.im3:hover {
    transform: translateY(20px);
    transition: all 600ms ease-in-out;
}

.img-punt img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 25px;
}

.img-punt-contain img {
    object-fit: contain;
    border-radius: 25px;
    height: 280px;
    width: 400px;
}

footer {
    height: auto;
    background-color: #000;
    padding: 15px 20px 15px 20px;
}

.area-footer {
    width: 1060px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin: 0 auto;
}

.bloq-footer {
    display: flex;
    flex-direction: column;
    font-family: d;
    gap: 10px;
}

.ma a,
.ma {
    text-decoration: none;
    color: #fff;
    font-family: d;
    font-size: 0.9rem;
    transition: all 400ms;
}

.ma a:hover {
    color: #aaa;
    transition: all 400ms;
}

.direction {
    display: flex;
    margin-left: auto;
}

.map-direccion {
    margin-top: 2rem;
    margin-left: auto;
}

.mapa-sitio {
    font-size: 1.8rem;
    color: #f8a738;
    cursor: default;
}

.derechos-priv {
    width: 1060px;
    margin: 0 auto;
}

.derechos {
    text-decoration: none;
    color: #fff;
    font-family: d;
    font-size: 0.9rem;
    text-align: center;
}

.invisibility {
    display: none;
}




@media only screen and (max-width:1200px) {
    .bloque {
        width: 100%;
    }

    .description-text {
        padding: 0;
    }

    .description-text-parraf {
        padding: 0 20px;
    }
}

@media only screen and (max-width:1090px) {
    .derechos-priv {
        width: 100%;
    }

    .area-footer {
        width: 100%;
    }

    .nav-web-pc-monterrico {
        padding: 0 10px;
        width: 200px;
    }

    .nav-web-pc {
        gap: 0;
    }

    header {
        width: 100vw;
    }

    .ubi-maps {
        padding: 0 20px;
    }
}

@media only screen and (max-width:854px) {
    .img1 img {
        max-width: 350px;
    }

    .slider {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .im1 {
        transform: translateY(0);
    }

    .im2 {
        transform: rotate(0);
    }
}

@media only screen and (max-width:830px) {
    .ubi-div {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .ubi-maps {
        padding: 0 30px;
    }

    .ubi-div iframe {
        height: 100%;
    }

    .aloja {
        overflow: hidden;
    }
}

@media only screen and (max-width:700px) {
    .lista-nav {
        display: none
    }

    .lista-nav-movil {
        display: flex;
    }

    .icon {
        padding: 0 20px;
    }

    .icon-movil {
        font-size: 35px;
        color: #fff;
        cursor: pointer;
        z-index: 10;
    }

    .lista-nav2 {
        display: none;
    }

    .lista-nav-movil {
        z-index: 10;
    }

    .nav-web-pc-monterrico {
        z-index: 10;
    }

    .menu-nav {
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .menu-movil {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 3;
        position: fixed;
        background-image: url("assets/fondos/fondomenu.webp");
        top: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 25px;
    }

    .list2 a {
        color: #fff;
        text-decoration: none;
        font-size: 33px;
        font-family: d;
    }

    /*monterrico descripcion*/
    .description {
        display: flex;
        flex-direction: column;
    }

    .mostrar-mas {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0 auto;
        background-color: #fff;
        width: 80%;
        height: 30px;
        font-size: 1.1rem;
        font-family: d;
        font-weight: 600;
    }
    .description-image{
        width: 90%;
    }

    .pop {
        flex: none;
    }

    .img2 {
        width: 100%;
    }

    .description-image {
        order: 2;
    }
    .description-text-parraf{
        height: 300px;
        overflow: hidden;
        transition: all 400ms;
    }
    .height-p{
        height: 100%;
        transition: all 1s;
    }
    .class-bloq{
        overflow-y: hidden;
    }
    .class-main{
        overflow-y: hidden;
    }
}

@media only screen and (max-width:600px) {
    .image {
        background-image: url("assets/fondos/carrusel/suite1.jpg");
        width: 350px;
        height: 500px;
        margin: 10px;
        border-radius: 50px;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: hidden;

    }

    .card {
        flex-direction: column;
    }

    .image .about {
        transform: translateX(0%);
        opacity: 1;
    }

    .image:hover {
        width: 350px;
        cursor: pointer;
    }

}

@media only screen and (max-width:450px) {
     .img-punt-contain img{
        width: 250px;
        height: auto;
     }
     .img1 img{
        width: 250px;
        height: auto;
        
     }
     .subtitle{
        font-size: 10px;
     }
     .title{
        font-size: 1.5em;
     }
     .description-text-parraf{
        font-size: 12px;
     }
     .M{
        font-size: 21px;
     }
     .description{
        margin-top: 0.5em;
     }
     .description-title{
        font-size: 15px;
     }
     .list-description{
        font-size: 12px;
     }
      

     /*suites*/
     .aloja-text p{
        font-size: 1.5em;
     }
     .image{
        width: 280px;
        height: 400px;
     }
     .about .name{
        font-size: 25px;
     }
     .detalles p{
        font-size: 12px;
     }
     .image .about{
        height: 55%;
     }

     .mapa-sitio{
        font-size: 1.5em;
     }
     .ma a, .ma{
        font-size: 0.8em;
     }
}