.suits {
    width: 100%;
}

.bloq-max {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.division-bloq {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 1060px;
    justify-content: center;
    align-items: start;
    padding: 20px 0;
}

.bloq-suite1 {
    width: 90%;
    height: auto;
    outline: 2px solid rgba(180, 180, 180, 0.3);
    padding: 20px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-top: 1rem;
}

.reser-title {
    display: flex;
    align-items: center;
}

.bloq-h3-suit {
    font-size: 1.5rem;
    font-family: d;
}

.reservar-ahora {
    margin-left: auto;
    font-family: d;
    font-weight: 600;
    padding: 8px;
    font-size: 0.9rem;
    background-color: #000;
    color: #fff;
    border: none;
    width: 200px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 300ms;
    cursor: pointer;
}

.movil{
    display: none;
}

.reservar-ahora:hover{
    color: #000;
    background-color: rgba(102, 97, 97, 0.2);
    transition: all 300ms;
}

.day-suit {
    font-size: 16px;
    font-family: d;
    gap: 4px;
    display: flex;
}

/*imagenes*/
.img-suite1 {
    width: 100%;
    height: auto;
}

.imagen1 {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.top-marg {
    margin-top: 1rem;
}

.bloque-image {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    height: auto;
    gap: 8px;
}

.bloque-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


/*descripcion suit*/
.descripcion-suit1 {
    margin-bottom: auto;
    width: 90%;
    overflow: hidden;
    cursor: default;
}

h2 {
    font-family: d;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.servicios-suits {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    gap: 20px;
    cursor: default;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.service ion-icon {
    font-size: 1.7rem;
}

.service span {
    font-size: 1.7rem;
}

.service p {
    font-size: 0.8rem;
    font-family: d;
    text-align: center;
}

.aspectosdestacados {
    margin-bottom: 0;
    font-family: d;
    font-size: 0.9rem;
    margin-top: 3em;
}

.list-habitacion {
    padding-inline-start: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 22px;
    margin-bottom: 3rem;
}

.list-content-h{
    font-family: d;
    font-size: 0.85rem;
    font-weight: 500;
}  



/*boton mas detalles*/
.masdetalles{
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: d;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 100ms;
    cursor: pointer;
}

.mas-hr{
    margin: 0;
}

.masdetalles:hover{
    outline: 2px solid #666;
    outline-offset: -2px ;
    transition: all 100ms;
}

.buton-mas{
    width: 25px;
    height: 25px;
    background-image: url("../assets/suits/suit1/flecha-mas.svg");
    background-position: center;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    transform: rotate(180deg);
}


/*lista del mostrar mas*/
.habitaciones-implemento{
    width: 100%;
    padding: 10px;
    display: none;
}

.parasu{
    margin-bottom: 0;
    font-family: d;
    font-size: 0.95rem;
}

.list-ul{
    padding-inline-start: 16px;
    margin-top: 0.2rem;
    font-family: d;
}

.active-imple{
    display: flex;
    flex-direction: column;
}
.active-btn{
    transform: rotate(0deg);
    background-image: url("../assets/suits/suit1/fecha-mas-clic.svg");
}

.doscamas-plaza{
    margin-bottom: 0;
    font-size: 0.9rem;
    font-family: d;
    margin-top: 3rem;
}
.descrip{
    display: flex;
    flex-direction: column;
    height: 60px;
    overflow: hidden;
    width: 100%;
}
.parrafor-descri{
    font-family: d;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0;
}

.parrafor-descri span{
    font-family: d;
    font-size: 0.85rem;
    font-weight: 500;
}
.list3-imple{
    font-size: 0.85rem;
    font-weight: 500;
}



/*boton de leer mas para el text del titulo 2camas*/
.height-parrafo{
    height: auto;
}

.leer-mas{
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buton-reserve{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve{
    margin-top: 3rem;
    width: 267px;
    border: none;
    padding: 8px;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 300ms;
    cursor: pointer;
}

.reserve:hover{
    background-color: rgba(102, 97, 97, 0.2);
    color: #000;
    transition: all 300ms;
}

@media only screen and (max-width:1080px){
    .division-bloq{
        width: 100%;
        padding: 20px 10px;
        align-items: center;
    }
}

@media only screen and (max-width:820px){
    .division-bloq{
        display: flex;
        flex-direction: column;
    }
    .descripcion-suit1{
        padding: 10px 20px;
    }
    .bloq-suite1{
        margin-top: 0;
        outline: 0;
    }
}

@media only screen and (max-width:650px){
    .division-bloq{
        padding: 0;
        width: 90%;
    }
    .descripcion-suit1{
        padding: 0;
    }
    .bloq-suite1{
        outline-offset: -10px;
        width: 100%;
    }
    .descripcion-suit1{
        width: 100%;
        padding: 0 0 20px 0;
    }
    .movil{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pc{
        display: none;
    }
    h2{
        font-size: 0.9rem;
    }
}


/* Fondo oscuro cuando se abre la imagen */
.img-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85); /* degradado negro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: zoom-out;
}

/* Imagen en pantalla completa */
.img-overlay img {
    max-width: 95%;
    max-height: 95%;
    border-radius: 12px;
    object-fit: contain;
}
